/* Regular @import url statements work as you'd expect them to -- alternatively
you can import locally, and they wind up in the resulting bundle */
@import url('https://fonts.googleapis.com/css?family=Gentium+Basic');

/* Define some variables we might want to use elsewhere */
:root {
  --fg: #0b2296;
  --bg: #00bcd4;
}

/* Global block.  Anything we put in here will automatically get put in
the global scope... i.e. it will bleed out to our overall app CSS */
:global html {
  padding: 0;
  border: 0;
  font-family: 'Gentium Basic', serif;
  font-size: 16px;

  /* We can nest rules, thanks to cssnext */
  & li {
    font-size: 2rem;
  }
}

/* Implictly local.  .hello will get transformed into a hashed class in
our React code, so that we could also use .hello in conjunction with another
component without the two clashing */
.hello {
  & h1 {
    margin: 0;
    /* Variables can be injected into our resulting CSS */
    color: var(--fg);
    font-size: 4rem;
  }
  /* We can nest other classnames, too, which are automatically hashed */
  & .logo {
    width: 250px;
  }
}

/* We can define as many top-level classes as we like, and they will all
be hashed in our HTML */
.data {
  & li {
    margin-bottom: 0.5em;
    font-size: 1.4rem;
    &:last-child {
      margin-bottom: 0;
    }
    & span {
      font-style: italic;
      font-weight: bold;
    }
  }
}

.styleExamples {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  & li {
    list-style-type: none;
    padding: 10px;
  }
}

.example {
  background-color: var(--bg);
}
