/* Regular @import url statements work as you'd expect them to -- alternatively
you can import locally, and they wind up in the resulting bundle */
@import url('https://fonts.googleapis.com/css?family=Gentium+Basic');

html {
  padding: 0;
  border: 0;
  font-family: 'Gentium Basic', serif;
  font-size: 16px;

  /* We can nest rules, thanks to SASS */
  li {
    font-size: 2rem;
  }
}
